* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    margin: auto;
    padding: 82px 0 88px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 260px);
    grid-auto-rows: 260px;
    gap: 60px;
}
img{
    width: 100%;
}

p{
    font-size: 14px;
    line-height: 16px;
    padding-top: 15px;
    font-weight: 500;
}